{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'back/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'back/css/adaptation.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-...." crossorigin="anonymous" />
</head>
<body>
    <div class="help">
        <nav>
            <a href="{% url 'back:comment' %}">Отзывы</a>
        </nav> 
      </div>
    <header class="header container">
        {% for m in menu %}
      <div class="header-logo">
          <a href="{% url 'back:home' %}">{{ m.title }}</a>  
      </div>
        {% endfor %}
      <span class="logo-span">Служебная частная помощь</span>
      <div class="button-group">
        <a href="{% url 'back:moderator_notifications' %}" class="moderator">Модератор</a>
        
        {% if request.user.is_authenticated %}
            <a href="{% url 'authe:signout' %}" class="button">Выход</a>
        {% else %}
        <i class="fas fa-user" style="font-size: 24px; margin-left: 10px;"></i>
        <div class="user-options" style="display: none;">
            
            <a href="{% url 'authe:signup' %}" class="button">Регистрация</a>
            <a href="{% url 'authe:signin' %}" class="button">Вход</a>
        </div>
        {% endif %}
        </div>
    </header>
    <div class="content">
        {% block content %}
            <div class="organs-list">
                <h1>Список Органов:</h1>
                <ul>
                    {% for organ in organs %}
                        <li class="organs">
                            <a href="{% url 'back:organ_detail' organ.id %}">{{ organ.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endblock %}
    </div>
    <footer class="footer">
        <div class="footer-content container">
            <div class="footer-section">
                <h3>Contact Us</h3>
                <p>Email: contact@example.com</p>
                <p>Phone: +1234567890</p>
            </div>
            <div class="footer-section">
                <h3>Follow Us</h3>
                <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>
  


   
    <script src="{% static 'back/js/style.js' %}"></script>
</body>
</html>