{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'back/css/organ_details.css' %}">

    <title>{{ organ.title }}</title>
</head>
<body>
    {% block content %}
    <h2 class="org-title">{{ organ.title }}</h2>
    <p class="org-des">{{ organ.description }}</p>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h3 class="user-title">Сообщения пользователя</h3>
    <form method="post" action="{% url 'back:organ_detail' organ_id=organ.id %}">
        {% csrf_token %}
        {{ notification_form.as_p }}
        <button type="submit">Отправить</button>
    </form>

    {% endblock %}
</body>
</html>
